
# Ignore Python Virtual Environments
**/.venv/
**/venv/
**/__pycache__/

# Ignore Local Postgres Storage Data
**/pgdata/
**/postgres_data/

# Ignore dbt Logs and Compilation Target folders
**/target/
**/dbt_packages/
**/logs/

# Ignore local secrets and credentials
.env
profiles.yml

# Ignore local raw data files
**/*.csv
**/*.xlsx
